body {
    color: #0a0a0a;
    border:2px solid salmon;
    padding:20px;
}

header {
    background-color: aqua;
    color: black;
    border: 2px solid pink;
}

nav {
    background-color: fuchsia;
    margin: 20px 20px 5px 20px;
    padding: 5px 0 20px 0;
}

section {
    margin:20px auto;
}

footer {
    background-color: lavender;
    border: 2px solid darkorchid;
    padding-bottom:20px;
}

.left {
    background-color: royalblue;
    border:2px solid black;
    width:67%;
}

.articulo {
    background-color: pink;
    height:150px;
    margin:15px;
}

.right {
    float: right;
    background-color: palevioletred;
    border:2px solid black;
    width: 30%;
    height:528px;
}